# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Local Netlify folder
.netlify

CLOUDINARY_CLOUD_NAME=dguetbdft
CLOUDINARY_API_KEY=161915798873267
CLOUDINARY_API_SECRET=w5n3M585Yxvl-S473nJT19iU58I
MASTER_API_KEY=test_master_key
